<script src="../../assets/javascripts/wow.js"></script>
<link rel="stylesheet" href="../../assets/stylesheets/about.css">
 

<div class="container">
	<div class="row">
		<div id="container">
			<header>
				<h1 id="textocentro">ValhalaTeletrabajo</h1>
			</header>
			
		
		<div class="col-md-4">
			<h2 class="wow slideInRight" data-wow-delay="1s">Calidad</h2>
			<div class="wow bounceInUp">  <h1 id="textocentro"> Software Eficiente  </h1> </div >

				<p class="wow pulse"  data-wow-iteration="infinite" data-wow-duration="1500ms"><%= image_tag("logo1.png",) %></p>
				<p id="textocentro">Estrategias de negocio centrada en el cliente.</p>
				</div>
				<div class="col-md-4">
					<h2>Paris</h2>
					<section class="wow bounceInLeft" data-wow-offset="300" id="centrar"><%= image_tag("2.jpg",) %></section>

					<p>Paris is the capital and most populous city of France.</p>
				</div>
				<div class="col-md-4">
					<div class="wow bounceInDown">  <%= image_tag("1.jpg",) %> </div >
						<section data-wow-duration="4s"><%= image_tag("3.jpg",) %></section>

						<p>Tokyo is the capital of Japan, the center of the Greater Tokyo Area,
							and the most populous metropolitan area in the world.</p>
						</div>
					</div>
				</div>
				</div>

				<div class="container">
					<div class="row">
						<div class="col-md-4">
							<h2>London</h2>
							<section > <%= image_tag("5.png",) %><div class="wow slideInRight"><h1 id="textocentro"> Content to Reveal Here  </h1> </div ></section>
							<p>London is the capital city of England.</p>
							<p>It is the most populous city in the United Kingdom,
								with a metropolitan area of over 13 million inhabitants.</p>
							</div>
							<div class="col-md-4">
								<h2>Paris</h2>
								<section class="wow pulse"  data-wow-iteration="3s" data-wow-duration="1500ms"><%= image_tag("6.JPG",) %></section>
								<p>Paris is the capital and most populous city of France.</p>
							</div>
							<div class="col-md-4">
								<h2>Tokyo</h2>
								<section class="wow slideInRight" data-wow-delay="2s"><%= image_tag("10.jpg",) %></section>
								<p>Tokyo is the capital of Japan, the center of the Greater Tokyo Area,
									and the most populous metropolitan area in the world.</p>
								</div>
							</div>
						</div>



<script>
	$( document ).ready(function() {


/*wow */
wow = new WOW(
      {
        animateClass: 'animated',
        offset:       100
      }
    );
    wow.init();

});
</script>