<link rel="stylesheet" href="../../assets/stylesheets/animate.css">
<script src="../../assets/javascripts/wow.js"></script>





<h1 id="textocentro">Bienvenido</h1>
<h2 id="textocentro1">ValhalaTeletrabajo</h2>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>
 
  <!-- Wrapper for slides -->
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="3000"> 

  <div class="carousel-inner">
    <div class="item active">
      <li><%= image_tag("fruits1.jpg",) %></li>
      <div class="carousel-caption">
          <h3 id="textblanco">Caption Text</h3>
      </div>
    </div>
    <div class="item">
      <li><%= image_tag("fruits2.jpg",) %></li>
      <div class="carousel-caption">
          <h3 id="textblanco">Caption Text</h3>
      </div>
    </div>
    <div class="item">
      <li><%= image_tag("fruits3.jpg",) %></li>
      <div class="carousel-caption">
          <h3 id="textblanco">Caption Text</h3>
      </div>
    </div>
    <div class="item">
      <li><%= image_tag("fruits4.jpg",) %></li>
      <div class="carousel-caption">
          <h3 id="textblanco">Caption Text</h3>
      </div>
    </div>
    <div class="item">
      <li><%= image_tag("fruits5.jpg",) %></li>
      <div class="carousel-caption">
          <h3 id="textblanco">Caption Text</h3>
      </div>
    </div>
    <div class="item">
      <li><%= image_tag("fruits6.jpg",) %></li>
      <div class="carousel-caption">
          <h3 id="textblanco">Caption Text</h3>
      </div>
    </div>
    <div class="item">
      <li><%= image_tag("fruits7.jpg",) %></li>
      <div class="carousel-caption">
          <h3 id="textblanco">Caption Text</h3>
      </div>
    </div>
    <div class="item">
      <li><%= image_tag("fruits8.jpg",) %></li>
      <div class="carousel-caption">
          <h3 id="textblanco">Caption Text</h3>
      </div>
    </div>
  </div>
 
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
  
  </a>
</div>

